.navbar-default {
  background-color: #005ca3;
  border-color: #5b5b5b;
}

.navbar-default .navbar-nav > li{
  border-left: 1px solid #5b5b5b;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #0066a3;
}

img{
  margin-top: -5px;
  width: 100px; 
  height: 31px;
}

li{
  text-align: center;
  border-left: 1px black;
}

div.navbar-header>a.navbar-brand {
   	font-family: 'Fredericka the Great', cursive;
	font-size: 30px;
	color: white;
}

div.navbar-header>a.navbar-brand:hover {
	color: white;
}

table {
	margin-left: 15px;
}

th, td {
	padding: 8px;
}

th {
	color: grey;
	border-top: 2px solid rgb(234, 234, 234);
	border-bottom: 2px solid rgb(234, 234, 234);
}

td {
	text-align: left;
	border-bottom: 1px solid rgb(224, 224, 224);
}

.tituloPublicacao {
	width: 25%;
}

.ano {
	width: 10%;
}

.autor-titulo {
	width: 65%;
}

.title {
	font-weight: bold;
}

.conferencia {
	width: 25%;
}

