{% extends "../bases/base.html" %}
{% load static %}

{% block head %}

	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	<link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">
	<link href="{% static "css/jquery-ui.structure.css" %}" rel="stylesheet">
	<link href="{% static "css/jquery-ui.theme.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script src="{% static "js/featureSetConfigUpdate.js" %}">
    <script src="{% static "js/wqual.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/wikiQuality.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    	
{% endblock %}
	    
{% block body %}
  	
  	<header>
  		{% if user.is_authenticated %}
  		<nav role="navigation" class="navbar navbar-default">
        
            <div class="navbar-header">
                <button type="button" data-target="#menu" data-toggle="collapse" class="navbar-toggle">                    
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                
                </button>                
                <a href="{% url "home" %}" class="navbar-brand">WikiQuality</a>
            </div>
            
            <div id="menu" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                	<li><a id="configureFeatureSet" href="{% url "feature_set_list"%}">Configure Features set</a></li>
                    <li><a id="analyseTexts" href="{% url "extract_features" %}">Analyse Texts</a></li>
                    <li><a id="publications" href="{% url "publications"%}">Publications</a></li>
 		<li><a href="{% url "logout"%}">Log out</a></li>
                </ul>
            </div>
        
        </nav>
        {% endif %}
  	</header>
    <main>
    <!-- <img src="{% static "imgs/siri.png" %}"> -->
	    {% block content %}
	    
	    {% endblock %}
    </main>
    <footer>
    	<a href="http://piim-lab.decom.cefetmg.br"><img class="piim-lab" src="{% static "/imgs/Logo Piim-LAB.png" %}"></a>
    	<a href="http://www.cefetmg.br"><img src="{% static "/imgs/Logo CEFET.jpg" %}"></a>
    </footer>
{% endblock %}    