{% extends "../bases/base_main_site.html" %}


{% block title %}Feature Set Configuration{% endblock %}

{% block content %}


<p><a href="{% url "feature_set_insert" %}">Inserir</a></p>
	
	<table class="table table-bordered table-condensed">
	{% for featSet in object_list %}	
		
         	<tr> 
	         	<td>{{ featSet.nam_feature_set }}</td> <td>{{ featSet.dsc_feature_set|safe }}</td>
	         	<td><a href="{% url "feature_set_edit" featSet.nam_feature_set%}">Editar</a></td>
	         	<td><a href="{% url "feature_set_delete" featSet.nam_feature_set%}">Deletar</a></td>
         	<tr>
        	    
	{% endfor %}
	</table>
	
{% endblock %}
