{% extends "../bases/base_main_site.html" %}
{% load static %}
{% block title %}Feature Set Update Insert{% endblock %}

{% block configFeaturesMenuAttr %}class="itemSelecionado"{% endblock %} 

{% block content %}

<script>
	function cancelEditFeature(){
		window.location.href = '{% url "feature_set_list" %}';
	}
	
	$( function() {
	    $( "#tabs" ).tabs();
	});   
	
</script>

<script src="{% static "js/insert_used_feature.js"%}"></script>

<div id="tabs">
  <ul>
    <li><a class="styletabs" href="#tabs-1">Description</a></li>
    <li><a class="styletabs" id="FeaturesSets" href="#tabs-2">Features Set</a></li>
  </ul>
  <div id="tabs-1">
  	<div class="col-md-6">	
  		{% if object.id %}
  				<form id="updateFeatureForm" action="{% url "feature_set_edit" object.nam_feature_set %}" method="post">{% csrf_token %}
  			{% else %}
  				<form id="updateFeatureForm" onsubmit="return false" action="{% url "feature_set_insert" %}" method="post">{% csrf_token %}
  		{% endif %}
				{% for field in form %}
					{{ field.errors }}
					<div class="form-group">
						{% ifequal field.label "Nam feature set" %}
							<span>Feature Set Name:</span>
						{% endifequal %}	
						
						{% ifequal field.label "Dsc feature set" %}
							<span>Description:</span>
						{% endifequal %}
						
						{% ifequal field.label "Language" %}
							<span>Language:</span>
						{% endifequal %}
				
					<div>
	                    	{{ field }}
	                   </div>
	                </div>
	            {% endfor %}
	            
			<p>&nbsp;
			Share the feature set. 
			When checked, everyone can have access to this feature set by using the following link: <a id="anc" href="{% url "public_extract_features" user.get_username object.nam_feature_set %}">http://{{request.get_host}}/p/{{user.get_username}}/<span id="pub_feat_set_name">{{object.nam_feature_set}}</span></a></p>
	    		<button type="submit" id="saveButton" class="ui-button ui-widget ui-corner-all">Save</button>
	    		<input type="button" class="ui-button ui-widget ui-corner-all" onclick="cancelEditFeature()" value = "Cancel" />
		</form>
	</div>
</div>
    
  <div id="alertSaveFeature">
  	<p></p>
  </div>
  
  <!-- form create/update via ajax --> 
  <script>
  		let href_button_clicked = "";

		$("#id_nam_feature_set").keyup(function(){
			let strFeatureSetName = $("#id_nam_feature_set")[0].value;
			$("#pub_feat_set_name").html(strFeatureSetName);
			$("#anc")[0].href = "{% url "public_extract_features" user.get_username "" %}"+strFeatureSetName;
			
		}); 
		
  		$("#updateFeatureForm").change(function() {
		   $("#updateFeatureForm").data("changed",true);
		});
		
	{% if object.id %}
			
  		$( "#configureFeatureSet" ).click(function() {
			href_button_clicked = "";
			$(this).removeAttr( "href" );
	  		if ($("#updateFeatureForm").data("changed")) {
	  			href_button_clicked = "{% url "feature_set_list"%}";
	 			$("#alertSaveFeature").append('<p>Do you want to save your changes?</p>');
	 			$( "#alertSaveFeature" ).dialog( "open" );
	 		} else {
	 			$( "#configureFeatureSet" ).attr("href","{% url "feature_set_list"%}");
	 		}
	 	});
	 	
	 	$( "#analyseTexts" ).click(function() {
	 		href_button_clicked = "";
	 		$(this).removeAttr( "href" );
	  	if ($("#updateFeatureForm").data("changed")) {
	 			href_button_clicked = "{% url "extract_features" %}";
	 			$("#alertSaveFeature").append('<p>Do you want to save your changes?</p>');
	 			$( "#alertSaveFeature" ).dialog( "open" );
	 		} else {
	 			$( "#analyseTexts" ).attr("href","{% url "extract_features" %}");
	 		}
  		});
		
		$( "#publications" ).click(function() {
			href_button_clicked = "";
			$(this).removeAttr( "href" );
	  		if ($("#updateFeatureForm").data("changed")) {
	  			href_button_clicked = "{% url "publications" %}";
	 			$("#alertSaveFeature").append('<p>Do you want to save your changes?</p>');	
	 			$( "#alertSaveFeature" ).dialog( "open" );
	 		} else {
	 			$( "#publications" ).attr("href","{% url "publications"%}");
	 		}
  		});
  		
  	{% endif %}	
  		
  		let boolSave = false;
		  		
  		$( function() {
	         $("#alertSaveFeature").dialog({
			    autoOpen: false,
			    modal: true,
			    title: 'Configure Feature Set ',
			    width: 400, 
			    height: 'auto',
			    buttons: {
			        "Yes": function() {
			          	salveData();
			          	window.location.href = href_button_clicked;
			          	$( this ).dialog( "close" );
			        
			          },
			        
			        "No": function() {
			          	window.location.href = href_button_clicked;
			          	$( this ).dialog( "close" );
			          }
			      }	
			 });	
		});	
		
		$( "#FeaturesSets" ).click(function() {
			if ($("#updateFeatureForm").data("changed")) {
				if(!boolSave){
					salveData();
				}
	 		} 
  		});
  		
		function salveData(){
			let idNamFeaturesSet = "{{object.nam_feature_set}}";
		  	let arrElementsFeatureSet = [];
		  	let arrCreateElementsFeatureSet = [];
		  	
			arrElementsFeatureSet.push({"id_nam_feature_set":idNamFeaturesSet,"nam_feature_set": $('#id_nam_feature_set').val(),"dsc_feature_set":$('#id_dsc_feature_set').val(), "language":$('#id_language').val()});
			arrCreateElementsFeatureSet.push({"nam_feature_set": $('#id_nam_feature_set').val(),"dsc_feature_set":$('#id_dsc_feature_set').val(), "language":$('#id_language').val()});
		
			{% if object.id %}
				
				updateFeatureSet(arrElementsFeatureSet);
				
				{% else %}
				createFeatureSet(arrCreateElementsFeatureSet);
	  			boolSave = true;	  		
	  			
	  		{% endif %}	
		}
		  		
	  	$( "#saveButton" ).click(function() {
	  		salveData();
		});
	  
		function createFeatureSet(arrCreateElementsFeatureSet){			
			$.ajax({
				  url: "{% url "feature_set_insertAJAX" %}",
				  dataType: 'json',
				  type: "POST",
			  	  data: { "arrCreateElementsFeatureSet" : JSON.stringify(arrCreateElementsFeatureSet)},
				  success: function(response) {
				  		let name_feature = response.arrCreateFeatureSet;
				  		gUsedFeaturesNames = {};
				  },
				  error: function(xhr,status,error){
				  		alert("An error occured when trying to save the new configurations:\n"+error);
		       	  }
				});
		}
		
		function updateFeatureSet(arrElementsFeatureSet){			
			$.ajax({
				  url: "{% url "feature_set_editAJAX" %}",
				  dataType: 'json',
				  type: "POST",
			  	  data: { "arrEditElementsFeatureSet" : JSON.stringify(arrElementsFeatureSet)},
				  success: function(response) {
				  		console.log("It is working");
				  },
				  error: function(xhr,status,error){
				  		alert("An error occured when trying to save the new configurations:\n"+error);
		       	  }
				});
		}
		
  </script>
    
  <div id="tabs-2">
  	<button id="insert" class="ui-button ui-widget ui-corner-all">Add Feature</button>
  	<br><br>
  	<ul id='div'></ul>
  	
  		<script>
  		//Insert gif loading
  			var imagem = document.createElement('img');
  			imagem.src = "{% static "imgs/ajax-loader.gif" %}";
  			imagem.id = "imgLoader";
  		
  		// Insert image confirm	
  			var imagemConfirm = document.createElement('img');
  			imagemConfirm.src = "{% static "imgs/ajax-confirm.png" %}";
  			imagemConfirm.id = "imgConfirm";
		
  		</script>
  		{% if object.id %}
  			<script src="{% url "usedFeatures.js" object.nam_feature_set %}"></script>
  			{% else %}
  			<script id="scriptInsertFeature" src=""></script>
  		{% endif %}
  		</div>
</div>

<div id="add-form" class="listAdd" title="Add Feature Set">
	<div id="featureList"></div>
	 <script src="{% url "insert_list_used_features" %}"></script>
	 <script src="{% static "js/csrf_token_ajax.js" %}"></script>
</div>

{% endblock %}
