{% extends "../bases/base_main_site.html" %}
{% load static %}

{% block content %}
		<section class="home_sign-up_section">
			{% if not user.is_authenticated %}
				<h1 class="home_sign-up_h1">WikiQuality</h1>
 				<form method="post">
 			 		{% csrf_token %}
 			 		{% for field in form %}		 			
 			 			{% ifequal field.label "Username" %}
 			 				<input class="login_sign-up_input" for="id_username" name="username" type="text" placeholder="Username">
 			 			{% endifequal %}
 			 			
 			 			{% ifequal field.label "Password" %}
 			 				<section class="home-password-section">
 			 					<input class="password-eye-input" for="id_password" name="password" type="password" placeholder="Password">
 			 					<img class="password-eye" src="{% static "imgs/Eye.png" %}">
 			 				</section>
	 			 		{% endifequal %}
	 			 		
	 			 		{% for error in field.errors %}
	 			 			<p>{{ error }}</p>
	 			 		{% endfor %}
	 		 		{% endfor %}
    				<button class="login_sign-up_button" type="submit">Log in</button>
    				<a class="link_sign-up" href="{% url 'signup' %}">Create an account</a>
 				</form>
 			{% else %}
 			{% endif %}
 		</section>
 		<script>
 			//Obtém a imagem do olho e o input tipo senha.
 			let PasswordEyeInput = document.querySelector(".password-eye-input");
 			let olho = document.querySelector('img');
 			
 			//Cria uma função para mudar o tipo do input senha.
 			function muda_input() {
 				if(PasswordEyeInput.classList.contains('texto')) {
 					PasswordEyeInput.setAttribute('type', 'password');
 				}
 				else {
 					PasswordEyeInput.setAttribute('type', 'text');
 				}
 				PasswordEyeInput.classList.toggle('texto');
 			}
 			//Ao clicar no olho, a função criada anteriormente é executada.
 			olho.addEventListener('click', muda_input);
 		</script>
{% endblock %}
