{% extends "../bases/base_main_site.html" %}


{% block content %}

	<table>
		<thead>
			<tr>
				<th>Year</th>
				<th>Authors and title</th>
				<th>Conference</th>
			</tr>
		</thead>
		<tbody>
			{% for database in object_list %}
			<tr>
				<td classs="ano">{{ database.num_year }}</td>
				<td class="autor-titulo">
					{% for author in database.authors.all %}
						{% if forloop.last %}
							{{ author }}: 
						{% else %}
							{{ author }},
						{% endif %}
					{% endfor %}
					<span class="title">
						{{ database.nam_title }}.
					</span>
				</td>
				<td class="conferencia"> {{ database.conference.nam_abbreviation }} </td>
			</tr>
			{% empty %}
			<tr>
				<td class="ano">-------------</td>
				<td class="autor-titulo">----------------------</td>
				<td class="conferencia">------------------------</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}