{% extends "../bases/base_main_site.html" %}

{% block content %}
		<section class="home_sign-up_section">
			{% if not user.is_authenticated %}
				<h1 class="home_sign-up_h1">WikiQuality</h1>
				<form method="post">
					{% csrf_token %}
					<section class="signup-dataset-error-container">
						{% for field in form %}
							{% for error in field.errors %}
								{% ifequal error "This field is required." %}
								{% else %}
									<p>{{ error }}</p>
								{% endifequal %}
							{% endfor %}
						{% endfor %}
					</section>
					{% for field in form %}
						{% ifequal field.label "Username" %}
							<input type="text" data-help="{{ field.help_text|safe }}" class="login_sign-up_input" for="id_username" name="username" placeholder="Username">
						{% endifequal %}
						
						{% ifequal field.label "Password" %}
							<input type="password" data-help="{{ field.help_text|safe }}" class="login_sign-up_input" for="id_password1" name="password1" placeholder="Password">
						{% endifequal %}
						
						{% ifequal field.label "Password confirmation" %}
							<input type="password" data-help="{{ field.help_text|safe }}" class="login_sign-up_input" for="id_password2" name="password2" placeholder="Confirm your password">
						{% endifequal %}
						
						{% for error in field.errors %}
							{% ifequal error "This field is required." %}
								<p class="campo-requerido">{{ error }}</p>
							{% endifequal %}
						{% endfor %}
					{% endfor %}
					<button class="login_sign-up_button" type="submit">Sign up</button>
				</form>
			{% endif %}
		</section>
		<script type="text/javascript">
			//Obtém todos os inputs da página.
			let Arr_inputs = document.querySelectorAll('.login_sign-up_input');
			
			//Cria um novo elemento (div);
			let HTML_Temp_div = document.createElement('div');
			
			//Adiciona a classe "HTML_Temp_div-de-ajuda à div criada.
			HTML_Temp_div.classList.add('balão-de-ajuda');
			
			//Obtém o elemento form.
			let form = document.querySelector('form');
			
			//Percorre o vetor de inputs e executa uma ação quando o mouse for colocado ou tirado de cima de um deles.
			Arr_inputs.forEach(function(object) {
				object.addEventListener('mouseover', function(e) {
					//Obtém o atributo data do input selecionado.
					let help = e.currentTarget.getAttribute('data-help');
					
					//Cria um h2 dentro do HTML_Temp_div e coloca o texto do atributo data dentro do h2.
					HTML_Temp_div.innerHTML = '<h2 class="help_text">'+help+'</h2>';
					
					//Faz o HTML_Temp_div seguir o mouse.
					HTML_Temp_div.style.left = e.pageX+'px';
					HTML_Temp_div.style.top = e.pageY+'px';
					
					//Adiciona o HTML_Temp_div depois do botão "Sign up".
					form.appendChild(HTML_Temp_div);
				})
				object.addEventListener('mouseout', function(e) {
					//Remove o botão da página.
					form.removeChild(HTML_Temp_div);
				})
			});
			
			
			
			//OBSERVAÇÂO IMPORTANTE, O CÓDIGO A SEGUIR PODE SER USADO TAMBÉM NA PÁGINA DO HOME.HTML
			//Obtém o erro que possui a mensagem "This field is required".
			let Array_CamposRequeridos = document.querySelectorAll('.campo-requerido');
			
			//Se tiver, pelo menos, 1 elemento no vetor, são executadas as ações abaixo.
			if(Array_CamposRequeridos.length > 0) {
				//Para cada objeto anterior à mensagem de erro "This field is required", adiciona-se uma borda.
				Array_CamposRequeridos.forEach(function(object) {
					object.previousElementSibling.style.border = '1px solid rgb(255, 158, 158)';
				})
			}
			
			
			
			//Obtém todos os filhos da section de classe igual a errors. Como só tem uma nesta página, então não é necessário usar "document.querySelectorAll".
			let SignupErrorSection = document.querySelector(".signup-dataset-error-container");
			
			//Estiliza a section de class igual a errors, quando ela tiver mais de um filho.
			if(SignupErrorSection.children.length >= 1) {
				SignupErrorSection.style.display = 'block';
			}
		</script>
{% endblock %}